.action-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.action-text {
    align-self: self-start;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}
.action-btn {
    color: white;
    background-color: #0078d4;
    font-size: 0.8rem;
    width: 100%;
    padding: 0.5rem 2rem;
    border: none;
    box-shadow: none;
}

.action-btn:enabled:hover{
    background-color: #0E639C;
    cursor: pointer;
}

.action-btn:disabled{
    background-color: #3C3C3C;
    cursor: not-allowed;
}

.config-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.config-text {
    align-self: self-start;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}

.config-select {
    width: 100%;
    background-color:#3C3C3C;
    color:#F0F0F0;
    border-radius: 5px;
    border: 1px;
    border-color: #3C3C3C;
    padding: 0.125rem 0.5rem;
}

.help-div{
    margin-top: 0.25rem;
}

.help-div a{
    color:#F0F0F0;
    text-decoration: none;
    font-size: 0.75rem;
}

.help-div a:hover{
    cursor: pointer;
}

.create-project-container {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.create-project-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.create-project-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
}

.create-project-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.create-project-form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.create-project-form-control {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #444;
    color: white;
    margin-top: 5px;
}

.create-project-radio-group {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.create-project-radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.create-project-btn-submit {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #0078d4;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.create-project-btn-submit:hover {
    background-color: #0E639C;
}

#create-project-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}